*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eb9797;
}
.container{
    position:relative;
    width:500px;
    height:400px;
    padding:50px 10px;
    justify-content:center;
    align-items:center;
    align-content:center;
    display:flex;
    flex-direction:column;
    background:#fff;
    border-radius:15px;
    box-shadow:0 15px 25px rgba(0,0,0,0.5);
    gap:10px;
}

.AppName{
        font-size:35px;
        font-weight:1000;
        text-align:center;
        color:#722020;
    }

    .inputSection{
        display:flex;
        gap:10px;
        width:80%;
        justify-content:center;
    }
    #todo-list{
        justify-content: left;
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        
    }

.complete-btn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
   border: 2px solid #eb9797;
    cursor: pointer;
    transition: 0.3s;
}
.complete-btn:hover{
    background: #eb9797;
    border: 2px solid #eb9797;
}

.completed{
    text-decoration: line-through;
    color: #bb0a0a;
}
/* .task-text{
    width: 50px ;
    font-size: 18px;
    color: #9c0000;
    margin-left: 10px;
    margin-right: 10px;
} */
 .done{
    background: #64c670;
    border: none;
    
 }
